@media(width>1024px) {
    body {
        width: 100vw;
        height: 100vh;
    }


    button:hover {
        cursor: url('./assets/cursor.png'), pointer;
        background-color: #C4F82A;
        transition: 2s;

    }


}